/* src/App.css */

.App {
    display: flex;
    min-height: 100vh;
    background-color: #f4f7fc;
  }
  
  .sidebar {
    width: 250px;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px; /* Reserve space for sidebar */
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fc;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }
  